<!DOCTYPE html>
<head>
  <title>Pepper</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='page.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='page.png') }}" class="icon" />
  <h3>generate README</h3>
  <form action="/" method="post">
    <input type="text" name="code" placeholder="Enter code here" required />
    <input type="submit" value="Generate README" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
